:root {
  --success-300: #3cff00;
}

body {
  background-color: var(--default-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-hero {
  position: relative;
}

.hero-img {
  opacity: 0.5;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-content .btn {
  font-size: var(--font-s-lg);
}

.hero-head {
  text-align: center;
  font-size: var(--font-s-2xl);
  font-weight: var(--font-w-semibold);
  color: var(--white);
}

.home-product-category {
  background-color: var(--white);
}

.home-product-category:hover {
  transform: scale(1.09);
  transition: all 0.3s ease-in-out;
}

.home-product-category-overlay {
  display: none;
  opacity: 0;
  font-size: var(--font-s-lg);
  font-weight: var(--font-w-semibold);
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home-product-category:hover .home-product-category-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.7;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .hero-content .btn {
    font-size: var(--font-s-base);
  }
  .hero-head {
    font-size: var(--font-s-base);
    font-weight: var(--font-w-medium);
  }
}
